@font-face {
    font-family:'EBGaramond';
    font-style:normal;
    font-weight:400;
    src: url(/font/EBGaramond-Regular.woff) format('woff');
}
@font-face {
    font-family:'EBGaramond';
    font-style:normal;
    font-weight:500;
    src: url(/font/EBGaramond-Medium.woff) format('woff');
}
@font-face {
    font-family:'NanumSquare';
    font-style:normal;
    font-weight:900;
    src: url(/font/NanumSquareEB.woff) format('woff');
}
@font-face {
    font-family:'NanumSquare';
    font-style:normal;
    font-weight:700;
    src: url(/font/NanumSquareB.woff) format('woff');
}
@font-face {
    font-family:'NanumSquare';
    font-style:normal;
    font-weight:300;
    src: url(/font/NanumSquareL.woff) format('woff');
}
@font-face {
    font-family:'NanumSquare';
    font-style:normal;
    font-weight:400;
    src: url(/font/NanumSquareR.woff) format('woff');
}
