#mqMain .fixed_nav { position: absolute; z-index: 998; top: 50%; right: 10px; transform: translateY(-50%);  }
#mqMain .fixed_nav a { display: block; transition: all 0.3s; }
#mqMain .fixed_nav a span { width: 8px; height: 8px; display: block; text-align: center; transition: all 0.3s; border-radius: 50%; background-color: #fff; margin: 0 auto; }
#mqMain .fixed_nav a.active,
#mqMain .fixed_nav a:hover { padding: 8px; border: 1px solid #fff; border-radius: 50%; }
#mqMain .fixed_nav a.active span,
#mqMain .fixed_nav a:hover span {  background-color: #ffc100; }
#mqMain .fixed_nav .m-dot { display: block; margin: 15px auto; width: 4px; height: 4px; border-radius: 50%; background-color: #fff; }

section { background: no-repeat center / cover; }

/* section1 - visual */
#section1 { position: relative; overflow: hidden;}
#section1 .fp-tableCell{ height: auto !important; }
#section1.swiper-container1{ font-size: 0; padding: 0 60px; height: auto !important; }
#section1 .swiper-slide { background-repeat: no-repeat; background-position: center; text-align: center; background-size: cover; } 
/* #section1 .swiper-slide.bg1 { background-image: url(/img/main/visual_img01.jpg); } 
#section1 .swiper-slide.bg2 { background-image: url(/img/main/visual_img02.jpg); }  */
#section1 .swiper-slide img { width: 100%; } 
#section1 .visual_pagi{ bottom: 80px; left: 50%; transform: translateX(-50%); }
#section1 .visual_pagi .swiper-pagination-bullet{ width: 80px; height: 5px; border-radius: 0; margin: 0 2.5px; background: #fff; opacity: 0.7; }
#section1 .visual_pagi .swiper-pagination-bullet-active{ background: #acceff; opacity: 0.7; }


/* section2 */
#section2 .sec2_wrap{ height: 100%; }
#section2 .sec2_wrap > ul{ height: 100%; }
#section2 .sec2_wrap > ul > a{ display: block; width: 33.33333%; height: 100%; }
#section2 .sec2_list{ position: relative; height: 100%; padding-top: 170px; text-align: center; transition: all 0.7s; overflow: hidden; background-position: center; background-repeat: no-repeat; background-size: cover; }
#section2 .sec2_list::after{ content: ''; background: url(/img/main/sec2_line.png)no-repeat center / cover; width: 5px; height: 140px; position: absolute; top: -100%; transition: all 0.7s; }
#section2 .sec2_list:hover{ box-shadow: 0 0 50px 0 rgba(87, 25, 25, 0.8); z-index: 2; }
#section2 .sec2_list:hover::after{ top: 0; }
#section2 .sec2_list1{ background-image: url(/img/main/sec2_bg1_n.jpg); }
#section2 .sec2_list2{ background-image: url(/img/main/sec2_bg2_n.jpg); }
#section2 .sec2_list3{ background-image: url(/img/main/sec2_bg3_n.jpg); }
#section2 .sec2_list1:hover{ background-image: url(/img/main/sec2_bg1_a.jpg); }
#section2 .sec2_list2:hover{ background-image: url(/img/main/sec2_bg2_a.jpg); }
#section2 .sec2_list3:hover{ background-image: url(/img/main/sec2_bg3_a.jpg); }
.en_txt span{ display: inline-block; font-size: 24px; color: #fff; letter-spacing: 0.1em; }
.en_txt span.red{ color: #e60012; }
.kr_tit .kt{ font-size: 42px; color: #fff; font-weight: 700; line-height: 1.5; }

/* section3 */
#section3 .sec3_wrap{ height: 100%; background: url(/img/main/sec3_bg.jpg)no-repeat center / cover; }
#section3 .sec3_wrap .img_box{ position: relative; height: 100%; }

/* section4 */
#section4 .fp-tableCell{ vertical-align: top; }
#section4 .top_box{ background: url(/img/main/sec4_tBg.jpg)no-repeat center / cover; height: 190px; position: relative; margin: 0 60px; }
#section4 .top_box .en_tit{ text-align: center; }
#section4 .top_box .en_tit .et{ font-size: 26px; color: #fff; line-height: 190px; letter-spacing: 0.70em; padding-left: 20px; }
.bt{ padding: 80px 0; text-align: center; font-size: 26px; color: #2b548f; font-weight: 900; letter-spacing: 0.7em; padding-left: 20px; }
#section4 .bt_box{ padding: 0 11.4583vw 50px; }
#section4 .bt_cont .btc_left{ width: 67%; }
#section4 .bt_cont .btc_left .btc_tit{ padding-bottom: 20px; }
#section4 .bt_cont .btc_right{ width: 33%; }
#section4 .bt_cont .btc_right > ul{ padding: 30px 20px; border-bottom: 1px solid #222; border-top: 1px solid #222; }
#section4 .bt_cont .btc_right .btc_tit{ padding-bottom: 15px; }
#section4 .bt_cont .btc_right .btc_tit .plus_btn{ padding: 0 6px; border: 1px solid #222; height: 30px; cursor: pointer; }
#section4 .bt_cont .btc_right .btc_tit .plus_btn:hover .plus{ transform: rotate(90deg); }
#section4 .bt_cont .btc_right .btc_tit .plus_btn .plus{ font-size: 25px; font-weight: 700; height: 100%; transform: rotate(0); transition: all 0.5s; }
.btct{ font-size: 25px; font-weight: 900; }
.news_list{ width: 40.5%; padding: 15px; padding-bottom: 25px; border: 1px solid #cccccc; }
.news_list1{ margin-right: 10px; }
.notice_list{ padding-top: 25px; padding-bottom: 20px; border-bottom: 1px solid #cccccc; }
.notice_list:first-child{ padding-top: 0; }
.notice_list:last-child{ padding-bottom: 0; border-bottom: 0; }
.txt_wrap .btx{ font-size: 22px; font-weight: 700; padding-top: 20px; width: 100%; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis; }
.notice_list .num_td{ width: 8%; }
.notice_list .num_td .num{ font-size: 20px; font-weight: 700; color: #05367b; }
.notice_list .tit_td{ width: 70%; }
.notice_list .date_td{ width: 20%; text-align: right; }
.notice_list .tit_td .not_tit,
.notice_list .date_td .date{ font-size: 20px; word-break: keep-all; }



/*** Mobile ***/
@media screen and (min-width:1px) and (max-width:767px) {
    .txt30 { font-size: 18px; }
    .txt24 { font-size: 15px; }
    .txt20 { font-size: 14px; }
    .txt18 { font-size: 13px; }
    .txt16 { font-size: 12px; }
    .top_title { margin-bottom: 15px; }

    
    #section1 .txt_box .tt1 { font-size: 37px; margin-bottom: 10px; }
    #section1 .txt_box .tt2 { font-size: 17px; }

    #section2 .title_box { margin-bottom: 0px; }
    #section2 .title_box .tt1 { font-size: 35px; } 
    #section2 .rd_title { padding: 5px 10px; }
    #section2 .rd_list li { width: 49%; height: 230px; margin-bottom: 10px; }
    #section2 .rd_list li:not(:nth-child(2n)) { margin-right: 2%; }
    #section2 .rd_list li a { padding-top: 110px;  background: rgba(255, 255, 255, .9) no-repeat center top 25px / 60px; border-radius: 15px; }
    #section2 .rd_list li a .title { font-size: 15px; top: 53%; }
    #section2 .rd_list li a .txt { font-size: 12px; padding-left: 10px; padding-right: 10px; }

    #section3 .inner { flex-direction: column-reverse; }
    #section3 .txt_box { padding: 19px; margin-top: 20px; text-align: center; letter-spacing: -1.2px; border-radius: 10px; }
    #section3 .txt_box p { line-height: 1.5; }
    #section3 .color_pr { font-size: 16px; }
    #section3 .txt_box img { margin-top: 10px; width: 120px; }

    
    
    
    
}
/*** Mobile & Tablet ***/
@media screen and (min-width:1px) and (max-width:1399px) {
    #section4 .inner { width: 95%; margin: 0 auto; padding: 0; }

    #section2 .title_box { text-align: center; }
    #section2 .rd_list li { border-radius: 15px; }
} 


/*** Tablet ***/ 
@media screen and (min-width:768px) and (max-width:1399px) {
    .txt30 { font-size: 25px; }
    .txt24 { font-size: 19px; }
    .txt20 { font-size: 17px; }
    .txt18 { font-size: 16px; }
    .txt16 { font-size: 15px; }
    .top_title { margin-bottom: 20px; }
    
    

}

/*** Tablet & Desktop ***/
@media screen and (min-width:768px) {
    

    
   
}  

/*** Desktop ***/
@media screen and (min-width:1400px) {

    
}
